@import "variable";

.btn-primary ,.btn-primary[type=submit] {
  background-color: rgba($color: $green_100, $alpha: 0.8);
  color: #fff;
  width: 100%;
  height: 1.5rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1.5rem;

  &:hover {
    background-color: rgba($color: $green_100, $alpha: 1.0);
  }
  &:disabled{
    opacity: .5 !important;
  }
}

.btn-secondary, .btn-secondary[type=submit] {
  background-color: transparent;
  width: 100%;
  height: 1.5rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 1rem;

  color: $text-base;
  &:hover {
    background-color: $gray-100;
  }
}

.btn-success {
  background-color: rgb(30, 207, 30);
  color: #ffffff;
  width: 100%;
  height: 1.5rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 1rem;

  &:hover {
    background-color: #94ea66;
  }
}

.btn-error {
  background-color: rgb(236, 36, 36);
  color: #fff;
  width: 100%;
  height: 1.5rem;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 1rem;

  &:hover {
    background-color: #d64f4f;
  }
}

.marker{
  &::before{
    content:"\2022";
    color: $green-100;
    font-size: 2rem;
    position: relative;
    top: 9px;
  }
}

.avatarProf {
  &:hover {
    .editProf {
      display: block !important;
    }
  }
}
.editProf {
  display: none !important ;
  position: absolute !important;
  right: -15px;
  bottom: -5px;
}
