@import "variable";

.login-body {
  width: 100vw;
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    background-image: url(/images/loginBg.png);
    z-index: -1;
    rotate: 180deg;
  }
}

.form-container {
  height: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .bg-container {
    display: none;
  }
  .form-structor {
    background-color: #ffffff;
    border-radius: 15px;
    height: 98vh;
    width: 350px;
    position: relative;
    overflow: auto;

    &::after {
      content: "";
      opacity: 0.8;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 500px;
      background-image: url("");
    }

    .signup {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, 25%);
      width: 85%;
      z-index: 5;
      -webkit-transition: all 0.3s ease;

      &.slide-up {
        top: 5%;
        -webkit-transform: translate(-50%, 25%);
        -webkit-transition: all 0.3s ease;
      }

      &.slide-up .form-holder,
      &.slide-up .submit-btn {
        opacity: 0;
        visibility: hidden;
      }

      &.slide-up .form-title {
        font-size: 1em;
        cursor: pointer;
      }

      &.slide-up .form-title span {
        margin-right: 5px;
        opacity: 1;
        display: block;

        visibility: visible;
        -webkit-transition: all 0.3s ease;
      }

      .form-title {
        color: #fff;
        font-size: 1.7em;
        text-align: center;
        .otp-container {
          border-radius: 0 !important;
          border: 0;
          box-shadow: none !important;
        }
        span {
          color: #bcb9b9;
          opacity: 0;
          visibility: hidden;
          display: none;
          -webkit-transition: all 0.3s ease;
        }
      }

      .form-holder {
        border-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        margin-top: 50px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.3s ease;

        .input {
          border: 0;
          outline: none;
          box-shadow: none;
          display: block;
          height: 30px;
          line-height: 30px;
          padding: 8px 15px;
          border-bottom: 1px solid #eee;
          width: 100%;
          font-size: 12px;

          &:last-child {
            border-bottom: 0;
          }
          &::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.4);
          }
        }
      }

     
    }

    .login {
      position: relative;
      top: 0%;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 5;
      -webkit-transition: all 0.3s ease;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   left: 50%;
      //   top: -20px;
      //   -webkit-transform: translate(-50%, 0);
      //   background-color: #fff;
      //   width: 200%;
      //   height: 250px;
      //   border-radius: 50%;
      //   z-index: 4;
      //   -webkit-transition: all 0.3s ease;
      // }

      .center {
        position: absolute;
        top: calc(50% - 10%);
        left: 50%;
        -webkit-transform: translate(-50%, 15%);
        width: 85%;
        z-index: 5;
        -webkit-transition: all 0.3s ease;

        .form-title {
          color: #000;
          font-size: 1.7em;
          text-align: center;

          span {
            color: rgba(0, 0, 0, 0.4);
            opacity: 0;
            visibility: hidden;
            display: none;
            -webkit-transition: all 0.3s ease;
          }
        }

        .form-holder {
          // border-radius: 15px;
          // background-color: #fff;
          // border: 1px solid #eee;
          overflow: hidden;
          margin-top: 50px;
          opacity: 1;
          visibility: visible;
          -webkit-transition: all 0.3s ease;

          .input {
            border: 0;
            outline: none;
            box-shadow: none;
            display: block;
            height: 30px;
            line-height: 30px;
            padding: 8px 15px;
            border-bottom: 1px solid #eee;
            width: 100%;
            font-size: 12px;

            &:last-child {
              border-bottom: 0;
            }
            &::-webkit-input-placeholder {
              color: rgba(0, 0, 0, 0.4);
            }
          }
        }

        .submit-btn {
          background-color: #0da487;
          color: rgba(256, 256, 256, 0.7);
          border: 0;
          border-radius: 15px;
          display: block;
          margin: 15px auto;
          padding: 15px 45px;
          width: 100%;
          font-size: 13px;
          font-weight: bold;
          cursor: pointer;
          opacity: 1;
          visibility: visible;
          -webkit-transition: all 0.3s ease;

          &:hover {
            transition: all 0.3s ease;
            background-color: $green-100;
          }
        }
      }

      &.slide-up {
        top: 90%;
        -webkit-transition: all 0.3s ease;
      }

      &.slide-up .center {
        top: 10%;
        -webkit-transform: translate(-50%, 0%);
        -webkit-transition: all 0.3s ease;
      }

      &.slide-up .form-holder,
      &.slide-up .submit-btn {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease;
      }

      &.slide-up .form-title {
        font-size: 1em;
        margin: 0;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
      }

      &.slide-up .form-title span {
        margin-right: 5px;
        opacity: 1;
        display: block;
        visibility: visible;
        -webkit-transition: all 0.3s ease;
      }
    }
  }
}

@media (min-width: 768px) {
  .form-container {
    justify-content: start;
    min-height: auto;
    border-radius: 15px;
    width: 100vw;
    height: 100vh;
    .bg-container {
      display: block;
      background-size: cover;
      width: 495px;
      height: 606px;
      padding: 5px;
      background-image: url(/images/rezaLogin.png);
      object-fit: contain;
    }
    .form-structor {
      width: 85%;
      // border-radius: 15px;

      // min-height: 100%;
    }
  }
}
.submit-btn {
  background-color: #0da487;
  color: rgba(256, 256, 256, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
  }
}